<a href="https://colab.research.google.com/github/insomnia98/2021_AI_Python/blob/main/Python%20basics/Data%20type%20to%20Conditional%20Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# 4. Python basics
## 4-1. Hello world

In [1]:
print('Hello world!')

Hello world!

In [2]:
print("Hello world!")

Hello world!

In [3]:
print("Hello %s" %'world', end='!\n')

Hello world!

### String formating

In [4]:
year  = 2021
day   = 22
month = 'March'

# % operator
str1 = 'Today is %s %d, %d' %(month, day, year)

# str.format() method
str2 = 'Today is {} {}, {}'.format(month, day, year)

# f-string
str3 = f'Today is {month} {day}, {year}'

print(str1) 
print(str2) 
print(str3)

Today is March 22, 2021
Today is March 22, 2021
Today is March 22, 2021

### Function print( )

In [5]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

### 4-2. If statement

In [6]:
n = 10
    
if n > 5:
    print('larger than 5')
elif n == 5:
    print('equal to 5')
else:
    print('smaller than 5')

larger than 5

### 4-3. For loop
In C language, for loop operates as a index based iteration.
Otherwise, Python's for loop is for-each loop, that traverses items in a collection sequentially.
For-each loop helps us prevent index out of range errors.

In [7]:
lst = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]

for n in lst:
    print(n, end=' ')
print()

3 1 4 1 5 9 2 6 5 3


What if I need the index value?
use enumerate()

In [9]:
for i, n in enumerate(lst):    
    print(f'{i}-{n}', end='  ')
print()

0-3  1-1  2-4  3-1  4-5  5-9  6-2  7-6  8-5  9-3

### 4-4. While loop

In [10]:
n = 0

while n < 10:
    print(n, end=' ')
    n += 1
print()

0 1 2 3 4 5 6 7 8 9

### 4-5. List : mutalble type

In [11]:
lst = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
print(type(lst))

<class 'list'>

In [12]:
a = [1, 'abcd', 3.14, [3, 4, 5], (6, 7)]
print(a)

# push new value to the end
a.append(10)
print(a)

# pop one value from the end
a.pop()
print(a)

[1, 'abcd', 3.14, [3, 4, 5], (6, 7)]
[1, 'abcd', 3.14, [3, 4, 5], (6, 7), 10]
[1, 'abcd', 3.14, [3, 4, 5], (6, 7)]

In [13]:
# insert new value at index 2
a.insert(2, 'hello')
print(a)

# pop one value at index 3
a.pop(3)
print(a)

[1, 'abcd', 'hello', 3.14, [3, 4, 5], (6, 7)]
[1, 'abcd', 'hello', [3, 4, 5], (6, 7)]

### 4-5. Tuple : immutable type

In [14]:
tpl = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3)
print(type(tpl))

<class 'tuple'>

In [15]:
print(lst)
lst[1] = 0
print(lst)

[3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
[3, 0, 4, 1, 5, 9, 2, 6, 5, 3]

In [16]:
tpl[3] = 0

TypeError: ignored

In [17]:
(x, y) = (1, 2)
print(x, y)

# parentheses can be ommitted
x, y = 3, 4
print(x, y)

1 2
3 4

Indexing & Slicing

In [18]:
lst

[3, 0, 4, 1, 5, 9, 2, 6, 5, 3]

In [19]:
# indexing
print(lst[3])
print(lst[-3])

1
6

In [20]:
# slicing
print(lst[3:6])
print(lst[:6])
print(lst[3:])

[1, 5, 9]
[3, 0, 4, 1, 5, 9]
[1, 5, 9, 2, 6, 5, 3]

### 4-7 *Operators*

In [22]:
print(7 / 5)
print(7 // 5)
2 ** 4

1.4
1

16